<%- model_class = Blog -%>
<% @blogs.each do |blog| %>
<div class="container">
<article>
    <h2><%= link_to blog.title, blog %></h2>

    <div class="row">
        <div class="group1 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-eye-open"></span><%= link_to "View", blog %>
            <i> &nbsp; | &nbsp; </i>
            <span class="glyphicon glyphicon-thumbs-up"></span> <a href="#">Like</a>
        </div>
        <div class="group2 col-sm-6 col-md-6">
                <i class="pull-right"><span class="glyphicon glyphicon-time"></span><%=l blog.created_at %></i>
                <i class="pull-right"> &nbsp; | &nbsp; </i>
                <b class="pull-right"><span class="glyphicon glyphicon-pencil"></span><%= link_to "Comments", blog %></b>
        </div>
    </div>
 
    <hr>
    <div class="img-responsive" style="width:800px;margin:0 auto;">
       <%=image_tag blog.image.url(:large)%>
    </div>
     <hr>
    <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1 text-justify">
          <%= blog.body %>
    </div>
    <hr>
    <br/>
    <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_blog_path(blog), :class => 'btn btn-default btn-xs pull-right' %> 
                            <i class="pull-right"> &nbsp; | &nbsp; </i>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      blog_path(blog),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger pull-right' %>
    </div>
    <br/>
    <div class="row" style="height:20px;"></div>
</article>
</div>

      
    <% end %>

<div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_blog_path,
            :class => 'btn btn-primary' %>
</div>
