<%- model_class = Blog -%>

    <article>
    <h2><%= link_to @blog.title, @blog %></h2>
 
    <div class="row">
        <div class="group1 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-thumbs-up"></span> <a href="#">Like</a>
        </div>
        <div class="group2 col-sm-6 col-md-6">
                <i class="pull-right"><span class="glyphicon glyphicon-time"></span><%=l @blog.created_at %></i>
                
        </div>
    </div>
    <hr>
    <div class="img-responsive" style="width:800px;margin:0 auto;">
       <%= image_tag @blog.image.url(:large) %>
    </div>
     <hr>
     <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1 text-justify">
      <%= @blog.body %>
    </div>
    <hr>
</article>
<div class="row pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  blogs_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_blog_path(@blog), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  blog_path(@blog),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
</div>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//kitavi18.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>