
<div class="container">
<% @blogs.each do |blog| %>
    <article>
    <h2><%= link_to blog.title, blog %></h2>
 
    <div class="row">
        <div class="group1 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-eye-open"></span><%= link_to "View", blog %>
            <i> &nbsp; | &nbsp; </i>
            <span class="glyphicon glyphicon-thumbs-up"></span> <a href="#">Like</a>
        </div>
        <div class="group2 col-sm-6 col-md-6">
                <i class="pull-right"><span class="glyphicon glyphicon-time"></span><%=l blog.created_at %></i>
                <i class="pull-right"> &nbsp; | &nbsp; </i>
                <b class="pull-right"><span class="glyphicon glyphicon-pencil"></span><%= link_to "Comments", blog %></b>
                
        </div>
    </div>
    <hr>
    <div class="img-responsive" style="width:800px;margin:0 auto;">
       <%=image_tag blog.image.url(:thumb) %>
    </div>
     <hr>
     <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1 text-justify">
      <%= blog.body %>
    </div>
    <hr>
    <hr>
    <br/>
</article>

<% end %>
</div>